<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("super.jpg", alt: "Rails logo"), home_path, id: "logo"%>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("static_pages.home.home"), home_path, class: "header123"%></li>
        <li><%= link_to t("static_pages.help.help"), help_path, class:"header123"%></li>
        <li><%= link_to t("user.new.signup"), new_path, class:"header123"%></li>
      </ul>
    </nav>
  </div>
</header>
